
.main{
    height:auto;
    width:auto;
    display: flex;
    background-color: darkblue;
    justify-content: space-between;
}



.title{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.subtitle{
    height: 30px;
    width: auto;
    color: white;
    line-height: 30px;
}

a{
    color: white;
}

#p1{
    height: 400px;
    width:350px;
}

.sub{
    width: auto;
    height:auto;
    color:aliceblue;
}

html{
    background-color: darkblue;
}

#temp{
    color: white;
    text-align: center;
    font-size: 30px;
}

body{
    color:white;
}

.t2{
    border-top-style: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 5px;
}

.big{
    height:fit-content;
    width:fit-content;
    

}

.picture_right{
    height: 150px;
    width: 150px;
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.picture_left{
    height: 150px;
    width: 150px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.t1{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding-bottom: 5px;
}

.box{
    background-color:sienna;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-right: 5px;
}

.contactBox{
    display: flex;
    flex-direction: column;
    margin: 80px;

}

.submission{
    width: fit-content;
    margin-top: 10px;
}

.foot{
    background-color: black;
    height: 50px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.I1{
    height:20px;
    width: 20px;
}

a {
    margin:10px;
}